# Python
__pycache__/
*.pyc
*.py[cod]

# Env
.env
*.env
backend/.env

# Virtual env
venv/
.venv/
backend/venv/

# Database
db.sqlite3
backend/db.sqlite3

# Firebase secrets/cache
backend/firebase-service-account.json
mobile/.firebase/
mobile/android/app/google-services.json
mobile/lib/firebase_options.dart

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages

# Django generated
backend/staticfiles/
backend/media/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db


# Python cache files
**/__pycache__/
*.pyc
